@import 'constants.scss';

.event-edit-popup {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  .popup-container {
    background-color: white;
    border: $primary-color 2px solid;
    padding: 10px 20px;
    border-radius: 10px;
    width: 400px;
    max-height: 80%;
    overflow: auto;
    margin: 0 10px;

    .title {
      text-align: center;
      font-weight: bold;
      font-size: 1.5em;
      color: #444444;
      margin-top: 10px;
    }

    .form {
      .form-field {
        @include form-field;
      }

      .buttons {
        display: flex;
        margin-bottom: 10px;
        margin-top: 20px;

        .spacer {
          flex: 1;
        }

        .button {
          @include button;
          margin: 0 10px;

          &.delete {
            border-color: $red;
            color: $red;

            &:hover, &:focus {
              background-color: $red;
              color: white
            }
          }
        }
      }
    }
  }
}