.token-page {
    flex: 1;
    text-align: center;
    overflow: hidden;

    h1 {
        font-weight: 600;
        margin-top: 65px;
    }

    .token-text {
        border: 1px solid #555;
        border-radius: 5px;
        display: inline-block;
        padding: 8px 10px;
        width: 50%;
        word-wrap: break-word;
        cursor: default;
    }
}
