@import 'src/constants.scss';

.user-filters {
    white-space: nowrap;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }

    .chip {
        border-radius: 20px;
        border: $secondary-color 1.5px solid;
        color: $secondary-color;
        display: inline-block;
        font-size: 0.95em;
        margin: 0 5px;
        padding: 0 5px;

        .remove,
        .text {
            display: inline-block;
            padding: 5px 7px;
        }

        .remove {
            cursor: pointer;
        }

        &.add-filter {
            cursor: pointer;
            background-color: $secondary-color;
            color: white;
            transition:
                background-color 0.2s,
                border-color 0.2s;

            &:hover {
                background-color: darken($secondary-color, 8%);
                border-color: darken($secondary-color, 8%);
            }
        }
    }

    .add-filter-popup {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        height: 100vh;
        width: 100vw;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;

        .content {
            background-color: white;
            padding: 0 20px;
            border-radius: 8px;
            border: 1.5px solid $primary-color;

            .title {
                text-align: center;
                color: #444444;
            }

            .filter-input {
                @include form-field;
            }

            .buttons {
                display: flex;
                margin-top: 25px;
                margin-bottom: 15px;

                .spacer {
                    flex: 1;
                }

                .button {
                    @include button;
                }
            }
        }
    }
}
