@import 'constants.scss';

.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    .checkbox {
        color: white;
        border: $primary-color 1.5px solid;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-size: 0.8em;
        transition: border-width 0.2s;
        cursor: pointer;
        min-width: 20px;
        position: relative;
        outline: none;

        .check {
            transform: scale(0);
            transition: transform 0.2s;
            position: absolute;
        }

        &.checked {
            border-width: 10px;
            .check {
                transform: scale(1);
            }
        }

        .highlight {
            width: 36px;
            height: 36px;
            background-color: black;
            position: absolute;
            border-radius: 100px;
            opacity: 0;
            transition: opacity 0.2s;
        }

        &:focus {
            .highlight {
                opacity: 0.2;
            }
        }
    }

    .label {
        margin-left: 10px;
    }
}
