@import 'constants.scss';

.event-code-form {
  padding: 5px 25px;
  display: flex;
  flex-direction: column;

  h2 {
    color: #333;
    font-weight: 600;
  }

  .form-field {
    @include form-field;
    margin: 0;
  }

  .submit-button {
    @include button;
    align-self: flex-end;
    margin-bottom: 10px;
  }
}
