.admissions {
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    height: 85vh;
    overflow-y: visible;
    padding-bottom: 10vh;

    @media screen and (max-width: 1024px) {
        height: fit-content;
    }

    h1 {
        text-align: center;
    }

    .submitButton {
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 15px;
    }
}

.modal {
    overflow: scroll;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    background-color: #f1f1f1;
    box-shadow: 24;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    height: 90vh;

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
