@import 'constants.scss';

.decision-buttons {
    margin-top: 15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: unset;

    .selected-users-count {
        display: inline-block;
        margin-right: 20px;
        position: relative;
        top: 7px;

        .small-text {
            font-size: 0.7em;
        }
    }

    .wave-select {
        display: inline-block;
        width: 130px;
        margin-right: 5px;
    }

    .button {
        @include button;
        margin: 0 5px;

        &.accept {
            margin-right: 20px;
        }
    }
}
