.users-page {
  --table-height: 90vh;
  height: 100vh;
  overflow: hidden;
  flex: 1;
  
  .users-table {
    margin: calc((100vh - var(--table-height)) / 2) 20px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    border-radius: 10px;
    border: 3px solid #505F85;
    white-space: pre;

    // The following styles override some element of material-ui or mui-datatbales
    // We use "class*={value}" to check if the class contains value since the classes have a 
    // non-constant number appended to them (e.g. "MUIDataTable-responsiveScrollMaxHeight-5")

    // Overrides the maximum height of the table content (excluding the toolbar and footer)
    [class*=MUIDataTable-responsiveScrollMaxHeight] {
      // 116px is the manually measured height of the table toolbar and footer
      max-height: calc(var(--table-height) - 116px);
    }

    // Overrides the style for the checkbox on the left so that it doesn't stick when scrolling
    [class*=MUIDataTableSelectCell-fixedHeader] {
      left: auto;
    }
  }
}