.users-page {
  --table-header-height: 40px;
  flex: 1;
  height: 100vh;
  overflow: auto;

  .row {
    display: flex;

    &.header {
      font-weight: bold;
      color: #444444;
    }

    .element {
      margin: 10px;
      flex: 0 0 150px;
    }
  }
}