.users-page {
  --table-header-height: 40px;
  flex: 1;
  height: 100vh;
  overflow: auto;

  .table-options {
    height: 15vh;
    padding: 10px;
    box-sizing: border-box;
  }

  .table-container {
    height: 85vh;

    .row {
      box-shadow: 0px -1px 0px #dddddd inset;
      white-space: nowrap;
      width: fit-content;
      width: -moz-fit-content;
      height: 50px;
      display: table-cell;
      vertical-align: middle;
  
      &.header {
        font-weight: bold;
        color: #444444;
      }

      &.selected {
        background-color: #eeeeee;
      }
  
      .element {
        margin: 0 10px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 4px;

        &.checkbox {
          width: 25px;
          justify-content: center;
        }
      }

      .separator {
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 100%;
        background-color: #dddddd;
      }
    }
  }
}