.users-page {
  --table-header-height: 40px;
  flex: 1;
  height: 100vh;
  overflow: auto;

  .table-options {
    height: 10vh;
    padding: 10px;
    box-sizing: border-box;
  }

  .table-container {
    height: 90vh;

    .row {
      display: flex;
  
      &.header {
        font-weight: bold;
        color: #444444;
      }
  
      .element {
        margin: 10px;
        flex: 0 0 150px;
  
        &.long {
          flex: 0 0 250px;
        }
      }
    }
  }
}