@import 'constants.scss';

.event-card-container {
  position: relative;
  margin: 20px;

  .event-card {
    @include div-button;
    width: 100%;
    border: $primary-color 1.5px solid;
    border-radius: 7px;
    padding: 15px;
    display: flex;
    flex-direction: column;
  
    &.clickable {
      cursor: pointer;
      &:hover, &:focus {
        background-color: #f0f0f0;
      }
    }
  
    .add-event-icon {
      align-self: center;
      color: $primary-color;
    }
    
    .event-header {
      display: flex;
      width: 100%;
      font-weight: bold;
      align-items: center;
  
      .event-name {
        flex: 1;
        color: #444444;
        font-size: 1.2em;
        margin-right: 5px;
      }
  
      .event-time {
        font-size: .85em;
        color: $primary-color;
  
        .day-difference {
          position: relative;
          top: -3px;
          font-size: .8em;
        }
      }
    }
  
    .event-details {
      .description {
        margin-top: 5px;
        font-size: .9em;
        text-overflow: ellipsis;
        overflow: hidden;
      }
  
      .locations, .event-type {
        margin-top: 7px;
        font-size: .85em;
        color: $secondary-color;
        font-weight: bold;
      }
    }
  }

  .event-code-button {
    @include div-button;

    cursor: pointer;
    position: absolute;
    bottom: 6px;
    right: 6px;
    
    font-size: 1.2em;
    color: $secondary-color;
    background-color: white;
    
    padding: 4px;
    border: 1px solid $primary-color;
    border-radius: 50px;
    transition: border-width .1s, box-shadow .1s;
    
    &:hover, &:focus {
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      border-width: 2px;
    }
  }
}