@import 'constants.scss';

.date-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .select {
    display: inline-block;
    width: 28%;

    @include phone  {
      width: 49%;
      margin-top: 15px;
    }

    &.month {
      width: 40%;
      @include phone {
        width: 100%;
        margin-top: 0;
      }
    }
  }
}