@import 'constants.scss';

.location-input {
  margin: 0 5px;

  .location-option {
    margin-top: 15px;
    display: flex;

    .details {
      @include form-field;
      width: auto;
      flex: 1;
      margin: 0 0 0 15px;
    }
  }
}