@import 'constants.scss';

.time-input {
  margin: 15px 0;
  display: flex;
  align-items: center;

  .label {
    margin: 0 5px;
    
    @include phone {
      display: none;
    }
  }

  .colon {
    font-size: 1.2em;
  }

  .select {
    flex: 1;
    margin: 0 5px;
  }
}