@import 'constants.scss';

.location-input {
  margin: 0 5px;

  .location-option {
    margin-top: 15px;
    display: flex;

    .details {
      @include form-field;
      flex: 2;
      margin: 0 10px 0 15px;
      
    }

    .tags-select {
      min-width: 100px;
      flex: 1;
    }
  }
}