.token-page {
  flex: 1;
  text-align: center;
  overflow: hidden;

  h1 {
    font-weight: 600;
    margin-top: 65px;
  }

  .token-text {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 8px;
    width: 50%;
    word-wrap: break-word;
    cursor: pointer;
  }
}
