$primary-color: #505f85;
$secondary-color: #5e997a;
$red: #cc0000;

$primary-color-light: lighten($primary-color, 40%);
$secondary-color-light: lighten($secondary-color, 40%);

:root {
    // allows you to import these variables from javascript
    --primarycolor: $primary-color;
    --primarycolorlight: $primary-color-light;
    --secondarycolor: $secondary-color;
    --secondarycolorlight: $secondary-color-light;
}

$tablet-min-width: 768px;
$desktop-min-width: 1024px;

// Mobile includes both tablets and phones
@mixin mobile {
    @media (max-width: #{$desktop-min-width - .1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-min-width}) and (max-width: #{$desktop-min-width - .1px}) {
        @content;
    }
}

@mixin phone {
    @media (max-width: #{$tablet-min-width - .1px}) {
        @content;
    }
}

@mixin form-field {
    display: block;
    margin: 17px 0;
    font-size: 1em;
    font-family: "Montserrat", "Segoe UI", "Roboto", sans-serif;
    outline: none;
    border: hsl(0, 0%, 80%) 1px solid;
    transition:
        border-color 0.1s,
        border-width 0.1s,
        padding 0.1s;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 7px;
    width: 100%;
    resize: none;

    &:focus {
        border-color: $primary-color;
        border-width: 2px;
        padding: 6px;
    }

    &:disabled {
        background-color: hsl(0, 0%, 95%);
        border-color: hsl(0, 0%, 90%);
    }
}

@mixin button($color: $primary-color) {
    background: none;
    outline: none;
    border: none;
    padding: 7px 20px;
    border-radius: 5px;
    border: $color 2px solid;
    font-family: inherit;
    font-weight: bold;
    color: $color;
    font-size: 0.95em;
    cursor: pointer;
    transition:
        color 0.2s,
        background-color 0.2s;

    &:focus {
        background-color: $primary-color-light;
    }

    &:hover {
        background-color: $color;
        color: white;
    }

    &:disabled {
        background-color: initial;
        border-color: hsl(0, 0%, 70%);
        color: hsl(0, 0%, 70%);
        cursor: not-allowed;
    }
}

// Apply on <button> to remove all the button styles and make it look like a div
@mixin div-button() {
    display: block;
    background: none;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 1em;
    text-align: left;

    // calling style should set something for &:hover and &:focus to indicate such
}
