.body {
    display: flex;
    max-width: 100%;

    main {
        min-width: 0; // Allows content to shrink down
        flex: 1; // Makes content fill remaining space
        padding: 30px;
        max-height: 100vh;
        box-sizing: border-box;
    }
}
