.admissions {
  margin: auto;
  width: 80%;
  height: 75vh;
  padding: 10px;
  overflow-y: visible;
  padding-bottom: 10vh;

  @media screen and (max-width: 1024px) {
    height: fit-content;
  }


  h1 {
    text-align: center;
  }
}