@use "../constants.scss" as *;

.container {
    padding: 5px 25px;
    display: flex;
    flex-direction: column;

    h2 {
        color: #333;
        font-weight: 600;
    }

    .form-field {
        @include form-field;
        margin: 0;
    }

    .buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        button {
            @include button;
            margin: 0 5px;
        }
        transition:
            border-color 0.25s,
            color 0.25s;

        .success {
            border-color: $success;
            color: $success;

            &:hover,
            &:focus {
                background-color: $success;
                color: white;
            }
        }
    }

    .code {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 5px auto;
    }
}



.toggleRow {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;

  button {
    background: #1976d2;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background 0.2s;
    font-family: "Montserrat";

    &:hover {
      background: #155a9c;
    }
  }
}
