@use "../constants.scss" as *;

.container {
    .header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin: 0 auto;

        div {
            font-size: 2em;
            font-weight: bold;
            padding: 15px 0;
        }

        .refresh {
            cursor: pointer;
            position: absolute;
            right: -1rem;
            transform: translateX(100%);
        }
    }

    .sponsors {
        display: flex;
        flex-wrap: wrap;
    }
}

.card {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-grow: 1;

    border: $primary-color 1.5px solid;
    border-radius: 7px;
    margin: 10px;
    padding: 15px;

    .email {
        align-self: flex-end;
        flex-grow: 1;
    }

    .delete {
        align-self: flex-end;
        color: $red;
        cursor: pointer;
    }

    .add {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
    }

    &:has(.add) {
        cursor: pointer;
        &:hover,
        &:focus {
            background-color: #f0f0f0;
        }
    }
}
