@import 'constants.scss';

.statistics-page {
  flex: 1;
  height: 100vh;
  overflow: auto;
  @include mobile {
    overflow: initial;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 35px;
    box-sizing: border-box;
    @include mobile {
      width: 100vw;
    }

    .box {
      box-shadow: 0 1px 5px rgba(27,31,35,0.15);
      margin: 15px;
      border-radius: 10px;
      padding: 15px 25px;
      flex: 1;

      .title {
        font-size: 1.3em;
        text-align: center;
        color: #555555;
        font-weight: 600;
      }
    }

    .counts {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      white-space: nowrap;
      @include phone {
        white-space: normal;
      }

      .title {
        grid-column-end: span 2;
        margin-bottom: 5px;
      }

      .text {
        margin-right: 75px;
        padding: 15px 0;
        color: #555555;
        font-size: 0.9em;
      }

      .count {
        font-weight: 600;
        color: #555555;
        font-size: 1.2em;
        color: $primary-color;
        text-align: right;
      }

      .separator {
        grid-column-end: span 2;
        height: .9px;
        background-color: #dddddd;

        &:last-child {
          display: none;
        }
      }
    }

    .graph {
      flex: 2;
      padding: 15px 0;
      min-width: 370px;
      @include phone {
        min-width: 240px;
        max-width: calc(100% - 30px);
      }
    }
  }
}