@import 'constants.scss';

.notifications-page {
  flex: 1;
  height: 100vh;
  overflow: auto;
  @include mobile {
    overflow: initial;
  }

  .form-field {
    @include form-field;
  }

  .top {
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    
    @include phone {
      padding: 40px 0;
    }

    .select {
      margin: 17px 0;
    }

    .tile {
      border: $primary-color 2px solid;
      padding: 10px;
      border-radius: 10px;
      margin: 10px;
      box-sizing: border-box;

      &.send-notification {
        flex: 2;
        min-width: 300px;
      }
  
      .title {
        font-size: 1.5em;
        text-align: center;
        margin: 10px 0;
        font-weight: bold;
        color: #444444;
      }
  
      .form-container {
        display: flex;
  
        .form-section {
          flex: 1;
          margin: 10px;
        }
      }
  
      .buttons {
        display: flex;
        justify-content: flex-end;

        &.centered {
          justify-content: center;
        }
  
        button {
          @include button;
          float: right;
          margin: 0 10px;
        }
      }
    }

    .topic-change-container {
      flex: 1;
      min-width: 225px;

      .title {
        font-size: 1.25em;
      }
    }
  }

  .heading {
    display: inline-block;
    font-size: 1.4em;
    font-weight: bold;
    color: #444444;
    margin-left: 20px;

    @include phone {
      margin-left: 50%;
      transform: translateX(-50%);
    }

    .underline {
      height: 5px;
      background-color: $secondary-color;
      width: 100%;
      margin: 3px auto;
      border-radius: 10px;
    }
  }

  .notifications-container {
    flex-wrap: wrap;
    padding-top: 10px;
    padding-left: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include phone {
      grid-template-columns: 1fr;
      padding-left: 0;
    }

    .notification {
      border: $primary-color 2px solid;
      padding: 10px;
      border-radius: 10px;
      margin: 8px;
      box-sizing: border-box;

      .topic {
        font-size: .85em;
        color: $secondary-color;
        font-weight: bold;
      }

      .title {
        font-size: 1.2em;
        margin: 7px 0;
        font-weight: bold;
        color: #444444;
      }

      .body {
        font-size: .9em;
      }

      .time {
        text-align: right;
        font-size: .8em;
        color: $secondary-color;
        font-weight: bold;
        margin-top: 5px;
      }
    }
  }
}