#card-container {
    height: 100vh;
    background: url("../../assets/waves.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#card {
    height: 525px;
    width: 575px;
    border: 1px solid #77aaff;
}

#card-logo {
    width: 100px;
    height: 100px;
    margin-top: 40px;
}

#card-form {
    padding-left: 20%;
    padding-right: 20%;
}

.text-fields {
    width: 100%;
}

.forgot-info {
    text-align: start;
}

#login {
    margin-top: 20px;
}

#signup {
    margin-top: 20px;
}

a:link {
    text-decoration: none;
}
