@use "../constants.scss" as *;

.container {
    height: 100%;
    .titles {
        position: relative;
        display: flex;
        flex-direction: row;
        width: fit-content;
        margin: auto;
        justify-content: space-around;
        max-width: 100vw;
        font-size: large;
        padding-top: 1rem;

        > div {
            box-sizing: border-box;
            text-align: center;
            position: relative;
            padding: 1rem 2rem;
            width: fit-content;
            margin: auto;
            &::before {
                position: absolute;
                bottom: 0.25rem;
                left: calc(10%);
                width: 80%;
                border-radius: 5px;
                height: 5px;
                content: "";
                background-color: $primary-color;
                opacity: 0;
                transition: opacity 0.25s;
            }
            &:hover {
                cursor: pointer;
                &::before {
                    opacity: 0.5;
                }
            }

            &.active {
                &::before {
                    opacity: 1;
                }
            }
        }

        .refresh {
            margin: 1rem 0;
            position: absolute;
            right: -2rem;
            transform: translateX(100%);
            cursor: pointer;
        }
    }
    .items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
        padding: 1rem;
    }
}
