.App {
  display: flex;

  .navigation-menu-container {
    width: 300px;

    .navigation-menu {
      background-color: #505F85;
      height: 80vh;
      margin: 10vh 25px;
      border-radius: 10px;
      padding-top: 5px;
      box-sizing: border-box;
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

      .navigation-link {
        display: block;
        padding: 12px 12px;
        margin: 13px 8px;
        font-size: 1.25em;
        font-weight: bold;
        letter-spacing: .5px;
        color: white;
        text-decoration: none;
        border-radius: 100px;

        &.active {
          background-color: #5D9A7A;
        }
      }
    }
  }
}