html {
    min-width: 1000px;
    background-color: #fbfbfb;
}

.admin-Header {
    text-align: center;
    font-size: 3em;
}

.App {
    max-width: 1150px;
    margin: 0 auto;
}

:focus {
    outline: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.grid-element {
    height: 300px;
    border: 1px black solid;
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 1.25em;
    line-height: 1.5em;
    box-sizing: border-box;
}

.grid-element-tabs {
    padding: 0;
}

.react-tabs__tab-panel, .react-tabs__tab{
    color: black;
    font-size: 17px;
}

.react-tabs__tab-panel--selected{
    padding: 14px 16px;
    clear: both;
}

.react-tabs__tab{
    border-width: 0 1px 1px 0;
    border-color: black;
    border-style: solid;

    float: left;
    list-style: none;
    padding: 10px 12px;
    box-sizing: border-box;
}

.react-tabs__tab--selected {
    /*background-color: #dadada;*/
    border-bottom: none;
}

.react-tabs__tab:hover {
    background-color: #c2c2c2;
}

.react-tabs__tab-list{
    margin: 0;
}

ul{
    padding: 0;
}

.center {
    clear: both;
    margin-left: auto;
    margin-right: auto;
}