.events-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.events-cont {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.events-contcont {
    width: 100%;
    display: flex;
    justify-content: center;
}

.events-tab-bar {
    margin-top: 1.5em;
    margin-bottom: .5em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.event-header-cont {
    display: flex;
    justify-content: space-between;
}

.event-time-cont {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.event-button-cont {
    display: flex;
    justify-content: flex-end;
    margin-top: .5em;
}